<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="Tim Branyen @tbranyen">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="/assets/css/main.css">

  <title>Tim Branyen @tbranyen</title>
</head>

<body>
  <div class="container">

    <header class="sixteen columns">
      <!--<h1 class="remove-bottom gray">tim branyen</h1>-->

      <nav class="">
        <div>
        <a class="active" href="/blog">blog</a>
        <a href="/projects">projects</a>
        <a href="/resume">resume</a>
        </div>
      </nav>

      <aside class="">
          <a href="http://twitter.com/tbranyen"><img src="/assets/img/social/twitter-2.png" alt="Twitter"></a>
          <a href="http://github.com/tbranyen"><img src="/assets/img/social/github.png" alt="GitHub"></a>
          <a href="http://stackoverflow.com/users/282175/tbranyen"><img src="/assets/img/social/stackoverflow.png" alt="StackOverflow"></a>
          <a href="https://forrst.com/people/tbranyen"><img src="/assets/img/social/forrst.png" alt="Forrst"></a>
          <a href="https://plus.google.com/100894993596873131654"><img src="/assets/img/social/google-plus.png" alt="Google+"></a>
          <a href="http://www.meetup.com/Node-js-Boston/members/15016561/"><img src="/assets/img/social/meetup.png" alt="Meetup"></a>
        </l>
      </aside>
    </header>

    <section class="intro sixteen columns">
      <img src="/assets/img/me.jpg" alt="tbranyen">
      <h3>awww hell nah, whats up dog?</h3>
      <p>
        My name is <strong>Tim Branyen</strong> & I'm a core committer to the <strong>backbone.js</strong> project, a software engineer at <strong>bocoup</strong> and a maintainer of several <strong>open-source</strong> projects.
      </p>
    </section>

    <section class="sixteen columns">
      <ul class="posts">
        <li class="post">
          <span class="date">Saturday, Nov 19, 2011</span>
          <h2>Integrating Phonegap NativeControls with Backbone Views</h2>
        </li>
        <li class="post">
          <span class="date">Tuesday, Aug 30, 2010</span>
          <h2>Lua code complete to identify Tor exit nodes</h2>
        </li>
        <li class="post">
          <span class="date">Thursday, Jun 1, 2005</span>
          <h2>Increasing JavaScript Array Performance</h2>
        </li>
      </ul>
    </section>

    {%partial content%}
  </div>
</body>
</html>
