<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="Tim Branyen @tbranyen">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="/assets/css/main.css">

  <title>{{title}}</title>
</head>

<body>
  <div class="container">
    <header class="sixteen columns">
      <nav class="eight column">
        <a class="nav {{post_active}}" href="/">posts</a>
        <a class="nav {{projects_active}}" href="/projects">projects</a>
      </nav>

      <aside class="eight column">
          <a target="_blank" href="http://twitter.com/tbranyen"><img src="/assets/img/social/twitter-2.png" alt="Twitter"></a>
          <a target="_blank" href="http://github.com/tbranyen"><img src="/assets/img/social/github.png" alt="GitHub"></a>
          <a target="_blank" href="http://stackoverflow.com/users/282175/tbranyen"><img src="/assets/img/social/stackoverflow.png" alt="StackOverflow"></a>
          <a target="_blank" href="https://forrst.com/people/tbranyen"><img src="/assets/img/social/forrst.png" alt="Forrst"></a>
          <a target="_blank" href="http://www.linkedin.com/pub/tim-branyen/a/200/3b8"><img src="/assets/img/social/linkedin.png" alt="LinkedIn"></a>
          <a target="_blank" href="https://plus.google.com/100894993596873131654"><img src="/assets/img/social/google-plus.png" alt="Google+"></a>
          <a target="_blank" href="http://www.meetup.com/Node-js-Boston/members/15016561/"><img src="/assets/img/social/meetup.png" alt="Meetup"></a>
      </aside>
    </header>

    <section class="intro sixteen columns">
      <div>
        <img src="/assets/img/me.jpg" alt="tbranyen">
        <h3>awww hell nah, whats up dog?</h3>
        <p>
          My name is <strong>Tim Branyen</strong> & I'm a core committer to the <strong>backbone.js</strong> project, a software engineer at <strong>bocoup</strong> and a maintainer of several <strong>open-source</strong> projects.
        </p>
      </div>
    </section>
{%partial content%}

    <footer class="sixteen columns">
      Fork the <a class="dark" target="_blank" href="http://github.com/tbranyen/site-content/">content</a> of this site, it's <a target="blank" href="http://unlicense.org/">public domain</a>!
    </footer>
  </div>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27325220-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4ed4271f613f5d76a8000001');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>
