<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="Tim Branyen @tbranyen">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="alternate" href="/rss.xml" type="application/rss+xml"> 

  {%if node_env == "development"%}
    <link rel="stylesheet" href="/dist/styles.css">
  {%else%}
    <link rel="stylesheet" href="/dist/styles.min.css">
  {%endif%}

  <title>{{title}}</title>

  <script type="text/javascript" src="//use.typekit.net/eyx4afp.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>
  <div id="container">
    <header>
      <div class="inner-header">
        <span>Hi! My name is </span>
        <a href="https://twitter.com/tbranyen"><strong>Tim Branyen</strong></a> & I am a
        <strong>skydiver</strong>,
        an open source developer at
        <a href="http://bocoup.com/"><strong>bocoup</strong></a>, and a maintainer of
        <a href="http://github.com/tbranyen"><strong>open-source</strong></a> projects.
      </div>
    </header>

    <nav class="preamble">
      <p>
        <a class="nav return {{posts_active}}" href="/">Posts</a>
        <span class="divider">&bull;</span>
        <a class="nav return {{projects_active}}" href="/projects">Projects</a>
        <span class="divider">&bull;</span>
        <a class="nav return {{talks_active}}" href="/talks">Talks</a>
      </p>
      <hr>
    </nav>

    {%partial content%}

    <footer>
      <hr>
      Fork the <a target="_blank" href="https://github.com/tbranyen/site-content/">content</a> of this <a target="_blank" href="https://github.com/tbranyen/tbranyen.com">site</a>, it's <a target="blank" href="http://unlicense.org/">public domain</a>!
    </footer>

  {%if node_env == "development"%}
    <script src="http://localhost:35729/livereload.js"></script>
  {%else%}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27325220-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  {%endif%}
</body>
</html>
