<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="Tim Branyen @tbranyen">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link href="/rss.xml" type="application/rss+xml" rel="alternate"> 
  <link rel="stylesheet" href="/dist/styles.min.css">

  <title>{{title}}</title>
</head>

<body>
  <div id="container">
    <header>
      <div class="inner-header">
        <span>Hi! My name is </span>
        <a href="https://twitter.com/tbranyen"><strong>Tim Branyen</strong></a> & I am a
        <a href="#" class="toggleSkydive"><strong>skydiver</strong></a> who contributes to the
        <a href="http://backbonejs.org/"><strong>backbone.js</strong></a> project, is an open source developer at
        <a href="http://bocoup.com/"><strong>bocoup</strong></a>, and a maintainer of several
        <a href="http://github.com/tbranyen"><strong>open-source</strong></a> projects.
      </div>
    </header>

    <nav class="preamble">
      <p>
        <a class="nav return" href="/">Posts</a>
        <span class="amp">&amp;</span>
        <a class="nav return" href="/">Projects</a>
        <span class="amp">&amp;</span>
        <a class="nav return" href="/">Talks</a>
      </p>
      <hr>
    </nav>

    {%partial content%}

    <footer>
      Fork the <a class="dark" target="_blank" href="http://github.com/tbranyen/site-content/">content</a> of this site, it's <a target="blank" href="http://unlicense.org/">public domain</a>!
    </footer>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27325220-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  <script src="http://localhost:35729/livereload.js"></script>
</body>
</html>
