    <section class="sixteen columns post-page">
      {%if posts.length%}
      <ul class="posts">
        {%each posts as post%}
        <li class="post">
          <a href="/post/{{post.slug}}">
            <span class="date">{{post.posted`formatDate}}</span>
            <!--<span class="date">Saturday, Nov 19, 2011</span>-->
            <h2>{{post.title}}</h2>
          </a>
        </li>
        {%endeach%}
      </ul>
      {%else%}
        No posts written yet.
      {%endif%}
    </section>
