    <section class="intro sixteen columns">
      <div>
        <img src="/assets/img/me.jpg" alt="tbranyen">
        <h3>awww hell nah, whats up dog?</h3>
        <p>
          My name is <strong>Tim Branyen</strong> & I'm a core committer to the <strong>backbone.js</strong> project, a software engineer at <strong>bocoup</strong> and a maintainer of several <strong>open-source</strong> projects.
        </p>
      </div>
    </section>

    <section class="sixteen columns">
      <ul class="posts">
        <li class="post">
          <a href="/post/5">
            <span class="date">Saturday, Nov 19, 2011</span>
            <h2>Integrating Phonegap NativeControls with Backbone Views</h2>
          </a>
        </li>
        <li class="post">
          <span class="date">Tuesday, Aug 30, 2010</span>
          <h2>Lua code complete to identify Tor exit nodes</h2>
        </li>
        <li class="post">
          <span class="date">Thursday, Jun 1, 2005</span>
          <h2>Increasing JavaScript Array Performance</h2>
        </li>
      </ul>
    </section>
