    <section class="sixteen columns projects-page">
      <h2>My Open Source Projects</h2>
      {%if mine.length%}
      <ul class="projects clearfix">
        {%each mine as project%}
        <li class="project">
          <h3 class="name">{{project.name}}</h3>
          <p class="description">{{project.description}}</p>

          <span>On <a target="_blank" href="{{project.url}}">GitHub</a>, has {{project.watchers}} watchers and {{project.forks}} forks.</span>
        </li>
        {%endeach%}
      </ul>
      {%else%}
      <p>I have no open source projects right now.</p>
      {%endif%}

      <h2 class="">Open Source Projects I Contribute To</h2>
      {%if forks.length%}
      <ul class="projects">
        {%each forks as project%}
        <li class="fork">
          <a target="_blank" href="{{project.url}}">{{project.name}}</a>{%if original.length > i%},{%endif%}
        </li>
        {%endeach%}
      </ul>
      {%else%}
      <p>I have no open source projects right now.</p>
      {%endif%}
    </section>
