@import "_guide"

html, body
  padding 0
  margin 0

html
  font-size root-font-size
  background root-background

body
  color base-color
  font-size base-font-size
  font-style base-font-style
  font-weight base-font-weight
  font-family base-font-family
  line-height base-line-height

a
  text-decoration none

hr
  padding 0
  border none
  border-top medium double #CCC
  color #CCC
  text-align center
  opacity 0.4

code
  position relative
  top -3px
  color #333
  background #EEE
  font-family Courier
  font-size 13px
  padding 8px 10px

pre code
  position relative
  font-family Courier
  font-size 1.3rem
  background #444
  padding 2.0rem
  margin-bottom 2.5rem
  line-height 1.4

  &:after
    content ""
    z-index -1
    position absolute
    top 0
    left -10000%
    right -10000%
    height 100%
    background #444
