/*-- Globals. ---------------------------------------------------------------*/

global-max-width = 117.5rem

/*-- Root (HTML). -----------------------------------------------------------*/

root-background = #FFFFFF
root-font-size = 62.5%

/*-- Base (BODY). -----------------------------------------------------------*/

base-color = #333333
base-font-size = 1.6em
base-font-style = normal
base-font-weight = 100
base-font-family = "museo-slab", Georgia, serif
base-line-height = 1.625

/*-- Header (HEADER). -------------------------------------------------------*/

header-background = #E5F2FF
header-color = #65787A
header-anchor-color = #506274
header-anchor-hover-border-bottom = 0.3rem solid #FFF

/*-- Navigation (NAV). ------------------------------------------------------*/

nav-anchor-color = #0084FF
nav-divider-color = #D8d8D8

/*-- Footer (FOOTER). -------------------------------------------------------*/

footer-anchor-color = #75BCFE
footer-anchor-hover-color = #FFA500
