    <section class="sixteen columns projects-page">
      <h2>My Open Source Projects</h2>
      {%if mine.length%}
      <ul class="projects clearfix">
        {%each mine as project%}
        <li class="project">
          <h3 class="name">{{project.name}}</h3>
          <p class="description">{{project.description}}</p>

          <span><a target="_blank" href="{{project.html_url}}">GitHub</a> | {{project.watchers}} watchers and {{project.forks}} forks.</span>
        </li>
        {%endeach%}
      </ul>
      {%else%}
      {%endif%}

      <h2 class="">Open Source Projects I Have Forked/Contribute to</h2>
      {%if forks.length%}
      <ul class="projects">
        {%each forks as project%}
        <li class="fork">
          {%if original.length > i%}
          <a target="_blank" href="{{project.html_url}}">{{project.name}}</a>, 
          {%else%}
          and <a target="_blank" href="{{project.html_url}}">{{project.name}}</a>
          {%endif%}
        </li>
        {%endeach%}
      </ul>
      {%else%}
      {%endif%}
    </section>
