@import "_guide"

&
  text-align center
  font-style normal
  font-weight 700

.posts
  list-style none
  margin 0
  padding 0

  &:not(:hover) li.post:first-child
    opacity 1

  &:hover li.post
    opacity .4

  .post
    opacity .4
    padding-left 1.0rem
    padding-right 1.0rem

    transition-property opacity
    transition-duration .5s

    &:hover
      opacity 1 !important

    h2
      font-size 2.4rem
      font-weight normal
      line-height 4.0rem
      color #444
      margin-bottom 1.0rem
      margin-top 1.0rem

    a
      padding-top 1.0rem
      padding-bottom 1.0rem
      text-decoration none
      display block

    .date
      font-weight bold
      font-size 1.6rem
      color #000
      margin-bottom 1.0rem
      display inline-block
