@import "_guide"

section.post-page
  padding 0px 25px
  margin 0 auto

  hr
    padding 0
    border none
    border-top 1px solid #CCC
    color #CCC
    text-align center

  a
    color #0084FF
    text-decoration none
    padding-bottom 4px
    opacity .5

    &:hover
      opacity 1

  .post
    color #616161

    h2
      font-weight normal

    h4, h5
      color #646464
      text-decoration none
      margin 0

    strong
      font-size 20px

    iframe, img
      box-shadow 0px 0px 3px #949493
      display block
      margin 0 auto
      margin-bottom 20px
      max-width 100%

    .instapaper_title
      font-size 30px
      line-height 40px
      text-align center

    .instapaper_body
      font-size 19px
      line-height 32px
      text-justify kashida

    .inline_code_block
      width 50%
      float left
      
      &:after
        visibility hidden
        display block
        font-size 0
        content " "
        clear both
        height 0

    .preamble
      text-align center
      color #000
      opacity .4
      transition opacity .5s linear

      .revs
        margin-top 15px
        opacity .5

        .sha
          color transparent
          display inline-block
          border-radius 25px
          background #FFF
          width 15px
          height 15px
          border 10px solid #0084FF
          padding 0
          transition background .5s linear

          div
            text-align center
            position relative
            top 22px
            left -15px
            transition color .5s linear
            font-size 12px

          &:hover
            background #FFCD55

            div
              color #333

      .pipe
        background #0084FF
        height 5px
        width 10px
        position relative
        display inline-block
        top -14px
