@import "nib"
@import "_guide"

&
  padding 0 2.5rem
  max-width 96.0rem
  margin-top calc(6rem + 20px)

hr
  padding 0
  border none
  border-top 0.1rem solid #CCC
  color #CCC
  text-align center

a
  color #1F5486
  text-decoration none
  padding-bottom 0.4rem
  opacity 0.5

  &:hover
    opacity 1

.comments
  margin-top 6.0rem

.post
  color: #4c4c4c;
  font-kerning: normal;

  h2
    font-size 21px
    font-weight bold

  h3
    font-size 18px
    font-weight bold

  h4, h5
    color #646464
    text-decoration none
    margin 0
    clear both

  h5 ~ hr 
    display none

  strong
    font-size 1.6rem
    font-weight bold

  img, iframe
    margin 0 auto
    display block
    margin-bottom 2.0rem
    max-width 100%

    &:not(.no-border)
      box-shadow 0 0 0.3rem #949493

  ul li
    display table
    line-height 40px

    &:before
      content '•'
      position relative
      left -15px
      color #E1A16F

    &:after
      content ' '
      display block
      width: 100%
      height 1px

  .instapaper_title
    font-size 3rem
    line-height 4rem
    text-align center

  .instapaper_body
    font-size 1.6rem
    line-height 3.2rem

  .inline_code_block
    width 50%
    float left
    min-width 44rem
    
    &:after
      visibility hidden
      display block
      font-size 0
      content " "
      clear both
      height 0

  .preamble
    text-align center
    color #999999

    .date
      clear both

    .stats
      font-size 0
      position relative
      height 5.5rem
      margin 0 auto

      hr
        position absolute
        top 3rem
        width 100%
        z-index -1
        border-style solid
        border-color #E6E6E6
        border-width 0px
        border-top-width 1px

      .entry
        margin 0 auto
        display inline-block
        font-size 0
        width 50px
        position relative
        left -8px
        margin-right 10px

      a
        float left
        height 0
        position relative
        padding 10px
        top 20px
        padding-left 16.7px

        div
          width 16.7px
          height 15px
          min-height 3px
          opacity .8

          &.added, &.modified, &.deleted
            background #B7CEBB
            position absolute
            left 0
            bottom 8px

          &.added
            bottom 8px

          &.modified 
            background #AFC9D5
            left 16.7px

          &.deleted
            background #C2938C
            left 33.4px

    .pipe
      background #0084FF
      height 0.5rem
      width 1rem
      position relative
      display inline-block
      top -1.4rem
