@import "vendor/base";
@import "vendor/skeleton";
@import "vendor/solarized_light";

/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Colors
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

$white: #FFFFFF;
$gray: #555555;
$light-gray: #CCCCCC;
$dark-gray: #444444;
$orange: #FFCD55;
$light-orange: #FEDF95;
$blue: #75BCFE;

/* #Site Styles
================================================== */

body {
  background: url("/assets/img/dotnoise.png");
}

.container {
  .nav {
    padding: 5px 15px 5px 15px;
    text-transform: uppercase;
    background: $white;
    font-size: 14px;

    text-decoration: none;
  }

  a, a:visited {
    color: $blue;
    font-weight: bold;
  }

  a:hover {
    color: $orange;
  }

  .nav.active {
    background: $orange;
    color: $white;
  }

  .nav.return {
    padding-left: 0px;
    background: none;
  }

  header {
    margin-top: 40px;

    h1 {
      color: $dark-gray;
      font-size: 65px;
      font-family: "Raleway Thin", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: bold;
    }

    hr {
      height: 5px;
    }

    nav {
      font-size: 20px;
      margin-left: 0;
      margin-right: 0;
    }

    aside {
      height: 32px;
      text-align: right;
      float: right;
      position: relative;
      top: -5px;
      margin-right: 0;

      a {
        opacity: .4;
      }

      a:hover {
        opacity: 1;
      }
    }
  }

  // Main contents
  section {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .intro {
    background-color: $dark-gray;

    div {
      padding: 10px;

      h3 {
        color: $light-orange;
      }

      img {
        float: left;
        margin-right: 15px;
        height: 80px;
        border: 3px solid $gray;
      }

      strong {
        color: $white;
      }

      p {
        color: $light-gray;

        margin-bottom: 5px;
      }
    }
  }

  footer {
    font-family: "Raleway Thin", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;

    color: $gray;

    a {
      color: $blue;
      text-decoration: none;
    }
  }
}

/* #Page Styles
================================================== */

.post-page {
  .date {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: $light-gray;
    margin-bottom: 10px;
    display: inline-block;
  }

  .post {
    padding-bottom: 10px;
    margin-bottom: 30px;

    h2 {
      color: $dark-gray;
      font-size: 32px;
    }

    h3 {
      font-size: 26px;
    }

    p {
      line-height: 170%;
      font-size: 16px;
      font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
    }
  }

  code {
    box-shadow: 0px 0px 10px $light-gray;
  }

  li.post {
    a {
      text-decoration: none;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $light-gray;
    }

    &:not(:first-child) {
      opacity: .4;
    }
  }
}

.projects-page {
  .fork {
    display: inline-block;
    font-size: 14px;
  }

  .project {
    width: 30%;
    height: 120px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    background: $white;
    opacity: .6;
    box-shadow: 0px 0px 10px $light-gray;

    -webkit-transition-property: opacity;
    -webkit-transition-duration: .5s;

    h3 {
      word-break: break-word;
      font-size: 18px;
    }

    span {
      position: absolute;
      bottom: 10px;
    }
  }
  
  .project:hover {
    opacity: 1;
  }
}

.resume-page {
  background: $white;

  > div {
    padding: 10px;
  }
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
    .projects-page {
      .project {
        width: 46%;
      }
    }
  }

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
    .projects-page {
      .project {
        width: 100%;
      }
    }
  }

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
    aside {
      float: left !important;
    }

    .container header nav {
      font-size: 15px;
      margin-bottom: 30px;
    }
  }

	/* Mobile Portrait Size to Mobile Landscape Sizebrowsers) */
	@media only screen and (max-width: 479px) {
    aside {
      float: left !important;
    }

    .container header nav {
      font-size: 15px;
      margin-bottom: 30px;
    }
  }


/* #Font-Face
================================================== */

/*
@font-face {
  font-family: "Raleway Thin";
  src: url("/assets/font/raleway_thin-webfont.eot");
  src: local("☺"),
    url("/assets/font/raleway_thin-webfont.woff") format("woff"),
    url("/assets/font/raleway_thin-webfont.otf") format("opentype"),
    url("/assets/font/raleway_thin-webfont.svg#raleway") format("svg");
  };  

@media screen and (max-device-width: 480px) {
  @font-face {
    font-family: "Raleway Thin";
    src: url("/assets/font/raleway_thin-webfont.woff") format("woff"),
    url("/assets/font/raleway_thin-webfont.otf") format("opentype"),
    url("/assets/font/raleway_thin-webfont.svg#raleway") format("svg");
}};
*/
