{%extend layouts/index as content%}
<section class="post-page">
  <div class="post">
    <div class="preamble">
      <div class="stats">
        {%each revs as rev%}
          <div>
          {%--
            <a href="{{rev.url}}" title="{{rev.sha}}">{{rev.sha}}</a>
              <div class="added" style="height: {{rev.stats.added}}%"></div>
              <div class="modified" style="height: {{rev.stats.modified}}%"></div>
              <div class="deleted" style="height: {{rev.stats.deleted}}%"></div>
            </a>
          --%}
          </div>
        {%endeach%}
      </div>

      <p><span class="date">{{post.posted|formatDate}}</span></p>
    </div>

    <h2 class="instapaper_title">{{post.title}}</h2>
    <hr>

    <div class="instapaper_body">
      {{{content}}}
    </div>
  </div>   

  {%if node_env == "production"%}
    <div class="comments">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          var disqus_shortname = 'tbranyen';

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
  {%endif%}
</section>
{%endextend%}
