{%extend layouts/index as content%}
<a class="home" href="/"><img src="/public/home.svg" width="25"></a>

<section class="post-page">
  <div class="post">
    <div class="preamble">
      {%--
      <div class="menu">
        <div class="stats">
          {%each revs as rev%}
            <div>
              <a href="{{rev.url}}" title="{{rev.sha}}">{{rev.sha}}</a>
                <div class="added" style="height: {{rev.stats.added}}%"></div>
                <div class="modified" style="height: {{rev.stats.modified}}%"></div>
                <div class="deleted" style="height: {{rev.stats.deleted}}%"></div>
              </a>
            </div>
          {%endeach%}
        </div>
      </div>
      --%}

      <p><span class="date">{{post.posted|formatDate}}</span></p>
    </div>

    <h2 class="instapaper_title">{{post.title}}</h2>
    <hr>

    <div class="instapaper_body">
      {{{content}}}
    </div>
  </div>   

  {%if node_env == "production"%}
    <div class="comments">
      <div id="disqus_thread"></div>
      <script>
        var disqus_config = function () {
          this.page.url = 'http://tbranyen.com/post/{{slug}}';
          this.page.identifier = '{{slug}}';
        };
        (function() {
        // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script'); s.src = '//tbranyen.disqus.com/embed.js'; s.setAttribute('data-timestamp', +new Date()); (d.head || d.body).appendChild(s); })(); </script> <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
  {%endif%}
</section>
{%endextend%}
