{%extend layouts/index as content%}
<section class="talks-page">
  <h2 class="year">2014</h2>

  <ul class="talks">
    <li>jQuery EU</li>
  </ul>

  <hr>

  <h2 class="year">2013</h2>

  <ul class="talks">
    <li>Devoxx</li>
    <li>BackboneConf</li>
    <li>Philly Emerging Technologies</li>
    <li>HTML5DevConf</li>
    <li>JsPyConf</li>
    <li>jQueryTO</li>
  </ul>

  <hr>

  <h2 class="year">2012</h2>

  <ul class="talks">
    <li>JavaScript Summit</li>
    <li>WEB Unleashed</li>
    <li>JStanbul</li>
    <li>GothamJS</li>
  </ul>
</section>
{%endextend%}
