@import "vendor/base";
@import "vendor/skeleton";
@import "vendor/zenburn";

/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Colors
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

$white: #FFFFFF;
$gray: #555555;
$light-gray: #CCCCCC;
$dark-gray: #444444;
$orange: #FFCD55;
$light-orange: #FEDF95;
$blue: #75BCFE;

/* #Site Styles
================================================== */

.container {
  width: 100%;

  .nav {
    padding: 5px 15px 5px 15px;
    text-transform: uppercase;
    background: $white;
    font-size: 14px;

    text-decoration: none;
  }

  a, a:visited {
    color: $blue;
    font-weight: bold;
  }

  a:hover {
    color: $orange;
  }

  .nav.active {
    background: $orange;
    color: $white;
  }

  .nav.return {
    padding-left: 0px;
    background: none;
  }

  header {
    margin-top: 0px;
    margin-left: 0px;
    color: $light-gray;
    width: 100%;

    .intro {
      background-color: rgb(68, 68, 68);
      text-align: center;
      padding: 15px;

      h3 {
        color: $light-orange;
      }

      img {
        float: left;
        margin-right: 15px;
        height: 80px;
        border: 3px solid $gray;
      }

      a {
        text-decoration: none;
        height: 22px;
        display: inline-block;
        line-height: 28px;

        &:hover {
          border-bottom: 3px solid orange;
        }
      }

      strong {
        color: $white;
      }

      p {
        margin-bottom: 5px;
      }
    }

    h1 {
      color: $dark-gray;
      font-size: 65px;
      font-family: "Raleway Thin", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: bold;
    }

    hr {
      height: 5px;
    }

    nav {
      height: 50px;
      background: #F3F3F3;
      width: 100%;
      display: block;
      line-height: 45px;
      margin: 0 auto;

      a {
        color: #333;
        text-decoration: none;
      }
    }

    aside {
      height: 32px;
      text-align: right;
      float: right;
      position: relative;
      top: 2px;
      margin-right: 0;

      a {
        opacity: .4;

        img {
          height: 24px;
        }
      }

      a:hover {
        opacity: 1;
      }
    }
  }

  footer {
    font-family: "Raleway Thin", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 40px;
    margin-top: 20px;
    width: 100% !important;
    color: $gray;
    text-align: center;

    a {
      color: $blue;
      text-decoration: none;
    }
  }
}

/* #Page Styles
================================================== */

.post-page {
  margin: 0px auto;
  width: 1184px;
  display: block !important;
  padding-top: 40px;

  &.center {
    text-align: center;
    width: 100% !important;
  }

  .date {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: $light-gray;
    margin-bottom: 10px;
    display: inline-block;
  }

  div.post {
    ul {
      list-style: disc inside;
      margin-left: 15px;
    }
  }

  .post {
    padding-bottom: 10px;
    margin-bottom: 30px;

    h2 {
      color: $dark-gray;
      font-size: 32px;
    }

    h3 {
      font-size: 26px;
    }

    p, ul {
      line-height: 170%;
      font-size: 16px;
      font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
    }
  }

  code {
    font-family: Courier;
  }

  pre code {
    font-size: 13px;
    background: $dark-gray;
    padding: 20px;
    line-height: 18px;
    box-shadow: 0px 0px 10px $light-gray;
    margin-bottom: 25px;
    overflow: auto;
  }

  .posts {
    margin: 0 auto;
  }

  .posts:not(:hover) li.post:first-child {
    opacity: 1;
  }

  .posts:hover li.post {
    opacity: .4;
  }

  li.post {
    opacity: .4;

    -webkit-transition-property: opacity;
    -webkit-transition-duration: .5s;

    iframe {
      box-shadow: 0px 0px 10px $light-gray;
    }

    a {
      text-decoration: none;
      display: block;
    }

    & {
      border-bottom: 1px solid $light-gray;
    }

    &:hover {
      border-bottom: 1px solid #FFA500;
      opacity: 1 !important;
    }
  }
}

.projects-page {
  .fork {
    display: inline-block;
    font-size: 14px;
  }

  .projects:not(:hover) li.project:first-child {
    opacity: 1;
  }

  .projects:hover li.project {
    opacity: .4;
  }

  .project {
    width: 30.4%;
    height: 120px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    background: $white;
    opacity: .4;
    box-shadow: 0px 0px 10px $light-gray;

    -webkit-transition-property: opacity;
    -webkit-transition-duration: .5s;

    h3 {
      word-break: break-word;
      font-size: 18px;
      white-space: nowrap;
      overflow:hidden;
      text-overflow: ellipsis;
    }

    p {
      word-wrap: break-word;
    }

    span {
      position: absolute;
      bottom: 10px;
    }

    &:nth-child(3n+3) {
      margin-right: 0px;
    }

    &:hover {
      opacity: 1 !important;
    }
  }
}

.resume-page {
  background: $white;

  > div {
    padding: 10px;
  }
}

/* #Media Queries
================================================== */

/* We use this media query to add styles to any device that supports media queries */
@media only screen { }

/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
@media only screen and (min-width: 768px) {}

/* Used to alter styles for screens at least 1280px wide. */
@media only screen and (min-width: 1280px) {}

/* Used to alter styles for screens at least 1440px wide. */
@media only screen and (min-width: 1440px) {}

/* Apply styles to screens in landscape orientation */
@media only screen and (orientation: landscape) {}

/* Apply styles to screens in portrait orientation */
@media only screen and (orientation: portrait) {}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  .container header .intro {
  }

  .post-page {
    padding: 15px;
    max-width: 100%;
    box-sizing: border-box;
  }

  .container footer {
    padding: 15px;
    max-width: 100%;
    box-sizing: border-box;
  }
}



/* Tablet Portrait size to standard 960 (devices and browsers)
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .projects-page {
    .project {
      width: 46%;
    }
  }
}

/* All Mobile Sizes (devices and browser) 
@media only screen and (max-width: 767px) {
  .projects-page {
    .project {
      width: 40%;
    }
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers)
@media only screen and (min-width: 480px) and (max-width: 767px) {
  aside {
    float: left !important;
  }

  .container header nav {
    font-size: 15px;
    margin-bottom: 30px;
  }
}

/* Mobile Portrait Size to Mobile Landscape Sizebrowsers)
@media only screen and (max-width: 479px) {
  aside {
    float: left !important;
  }

  .container header nav {
    font-size: 15px;
    margin-bottom: 30px;
  }
}
*/
