// Prefixing and easier CSS3.
@import "nib"

// Include a clearfix.
@import "/styles/clearfix.css"

// Reset styles.
@import "/bower_components/normalize-css/normalize.css"

// Syntax highlighting.
@import "/bower_components/highlight.js/src/styles/zenburn.css"

#container
  font-family: minion-pro-1, minion-pro-2, '62.5% palatino', 'times new roman', serif

  header
    color #CCC
    background #313131
    padding 15px
    line-height 28px
    font-size 14px
    border-bottom 2px solid #7A7A7A
    box-shadow 0px 3px 3px #E9E9E9
    
    .inner-header
      text-align center
      max-width 1175px
      margin 0 auto

    a
      color #FFF
      text-decoration none
      padding-bottom 4px

      &:hover
        border-bottom 3px solid #FFA500

  .preamble
    text-align center
    padding 0px 10px

    /* Glyph, by Harry Roberts */
    hr
      padding 0
      border none
      border-top medium double #CCC
      color #CCC
      text-align center
      opacity .4

      &.post-clear
        margin-bottom 60px

      &:after
        content ""
        display inline-block
        background white

    // http://css-tricks.com/snippets/css/fancy-ampersand/
    .amp
      font-style italic
      color #D3D3D3
      font-weight bold

    a
      color #0084FF
      text-decoration none
      padding-bottom 4px

      &:hover
        color #FFCD55
        border-bottom 2px solid #FFA500

  section
    .revs
      text-align center
      line-height 28px
      margin-bottom 40px

    &.post-page
      max-width 960px
      padding 0px 25px
      margin 0 auto

      /* Glyph, by Harry Roberts */
      hr
        padding 0
        border none
        border-top medium double #CCC
        color #CCC
        text-align center

        &.post-clear
          margin-bottom 60px

        &:after
          content ""
          display inline-block
          background white

      a
        color #0084FF
        text-decoration none
        padding-bottom 4px

        &:hover
          color #FFCD55
          border-bottom 2px solid #FFA500

      .post
        color #616161

        h2
          font-weight normal

        h4, h5
          color #646464
          text-decoration none
          margin 0

        strong
          font-size 20px

        iframe, img
          box-shadow 0px 0px 3px #949493
          display block
          margin 0 auto
          margin-bottom 20px

        .preamble
          text-align center
          color #000
          opacity .4
          transition opacity .5s linear

          .revs
            margin-top 15px
            opacity .5

            .sha
              color transparent
              display inline-block
              border-radius 25px
              background #FFF
              width 15px
              height 15px
              border 10px solid #0084FF
              padding 0
              transition background .5s linear

              div
                text-align center
                position relative
                top 22px
                left -15px
                transition color .5s linear
                font-size 12px

              &:hover
                background #FFCD55

                div
                  color #333

          .pipe
            background #0084FF
            height 5px
            width 10px
            position relative
            display inline-block
            top -14px

        .instapaper_title
          font-size 30px
          line-height 40px
          text-align center

        .instapaper_body
          font-size 19px
          line-height 32px
          text-justify kashida
        
        code
          color #333
          background #EEE
          font-family Courier
          font-size 13px
          line-height 18px
          padding 8px 10px
          position relative
          top -3px
          letter-spacing auto

        pre code
          color #FFF
          font-family Courier
          font-size 13px
          background #444
          padding 20px
          line-height 18px
          box-shadow 0px 0px 10px #CCC
          margin-bottom 25px
          overflow auto
          letter-spacing auto

    &.home-page
      text-align center

      .posts
        list-style none
        margin 0
        padding 0

        &:not(:hover) li.post:first-child
          opacity 1

        &:hover li.post
          opacity .4

        .post
          opacity .4
          border-bottom 1px solid #CCC
          padding-left: 10px;
          padding-right: 10px;

          transition-property opacity
          transition-duration .5s

          &:hover
            opacity 1 !important

          &:last-child
            border-bottom 2px solid #7A7A7A
            box-shadow 0px 3px 3px #E9E9E9

          h2
            font-size 24px
            font-weight normal
            line-height 40px
            color #444
            margin-bottom 10px
            margin-top 10px

          a
            padding-top 10px
            padding-bottom 10px
            text-decoration none
            display block

          .date
            font-weight bold
            font-size 16px
            color #000
            margin-bottom 10px
            display inline-block

  footer
    font-size 16px
    margin-bottom 40px
    margin-top 20px
    width 100% !important
    color #333
    text-align center

    a
      color #75BCFE
      text-decoration none
      font-weight bold

      &:hover
        color #FFA500
