@import "_guide"

*
  font-size base-font-size

html, body
  padding 0
  margin 0
  text-rendering optimizeLegibility

html
  font-size root-font-size
  background root-background

body
  color base-color
  font-size base-font-size
  font-style base-font-style
  font-weight base-font-weight
  font-family base-font-family
  line-height base-line-height

a
  text-decoration none

hr
  padding 0
  border none
  border-top medium double #CCC
  color #CCC
  text-align center
  opacity 0.4

code
  color #333
  background #EEE
  font-family Courier
  padding 0.8rem 1.0rem

pre
  position relative

  code
    position relative
    font-family Courier
    font-size 1.3rem
    background #444
    padding 2.0rem
    margin-bottom 2.5rem
    line-height 1.4
    white-space pre
    overflow-x auto
    overflow -moz-scrollbars-none

    &::-webkit-scrollbar
      width 0

    *
      font-size 1.3rem

  .code
    margin-right 100px
    width 100%

    &:after
      content ""
      z-index -1
      position absolute
      top 0
      left -10000%
      right -10000%
      height 100%
      background #444
