@import "_guide"

#container
  overflow hidden

#container .home
  display block
  background #3F3F3F
  position absolute
  top 0
  left 0
  padding 5px
  padding-bottom 0px
  border-color #EEEEEE
  transition border-width linear .2s
  border 0px solid #EEEEEE

  &:hover
    border-width 15px
    border-left-width 0px
    border-top-width 0px

header
  background header-background
  color header-color
  font-size header-font-size
  font-style normal
  font-weight 100
  line-height 1.5
  padding 1.5rem
  
  .inner-header
    text-align center
    max-width global-max-width
    margin auto

  div, span, a, strong
    font-size header-font-size

  a, strong
    color header-anchor-color
    padding-bottom 0.4rem

    &:hover
      border-bottom header-anchor-hover-border-bottom

nav
  padding 0 1.0rem
  text-align center
  max-width global-max-width
  margin auto

  .divider
    color nav-divider-color
    font-weight bold

  a
    color nav-anchor-color
    opacity 0.5
    font-size 1.6rem
    padding 0 1em

    &:hover, &.active
      opacity 1

section
  max-width global-max-width
  margin 0 auto
  margin-top 6.0rem

footer
  max-width global-max-width
  line-height 2
  padding 6.0rem 1.0rem 1.5rem 1.0rem
  text-align center
  margin 0 auto

  a
    color footer-anchor-color
    opacity 0.5
    font-weight bold

    &:hover, &:active
      opacity 1

.menu
  .t
    padding 1rem
    color #EDEDED
    font-weight bold
    font-size 3rem
    line-height 4rem
    text-align center

  .im
    padding 1rem
    color #EDEDED
    font-weight bold
    font-size 3rem
    line-height 4rem
    text-align center
