/*-- NIB: Stylus extras. ----------------------------------------------------*/

@import "nib"

/*-- Normalize.css: Styles reset. -------------------------------------------*/

@import "../../node_modules/normalize.css/normalize.css"

/*-- HighlightJS: Syntax highlighting. --------------------------------------*/

@import "../../node_modules/highlight.js/styles/zenburn.css"

/*-- Core. ------------------------------------------------------------------*/

@import "_base"
@import "_layout"

/*-- Pages. -----------------------------------------------------------------*/

section.home-page
  @import "pages/_home"

section.post-page
  @import "pages/_post"

section.projects-page
  @import "pages/_projects"

section.talks-page
  @import "pages/_talks"
